
$color-white:#ffffff;
$color-black:#111111;
$color-bg: #f4f4f3;
$color-gold:#ac873d;
$color-deepblue:#1e2e53;
$color-grey:#929292;
$input-bg:#fdfdfd;
$Poppin-font:'Poppins', sans-serif;
$Yugo-font:"Yu Gothic", sans-serif;