.wrapper{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: $color-bg;
}

.container{
    max-width: 120rem;
    margin: 0 auto;
    @include responsive(SP){
        padding: 0 1.5rem!important;
    }
}