.team{
    margin-bottom: 8rem;
    @include responsive(SP){
        margin-bottom: 3rem;
    }
    &__content{
        margin-top: 5.8rem;
        font-size: 1.5rem;
        color: $color-black;
        & p{
            text-indent: 1.4rem;
            line-height: 1;
            font-weight: 500;
            margin-top: 2rem;
        }
        @include responsive(SP){
            margin-top: 2.8rem;
            padding:  0 1.5rem;
            font-size: 1.3rem;
            & p{
                line-height: 1.692;
                margin-top: 1rem;
            }
        }
    }
    &__list{
        margin-top: 4rem;
        padding: 4rem;
        background-color: $color-white;
        display: flex;
        position: relative;
        @include responsive(SP){
            margin-top: 3.1rem;
            padding: 0;
            display: block;
        }
    }
    &__avatar{
        width: 23rem;
        @include responsive(SP){
            width: 16.5rem;
            float: left;
            margin-right: 1.5rem;
        }

    }
    &__info{
        width: 89rem;
        padding-left: 4rem;
        display: inline-block;
        @include responsive(SP){
            width: 100%;
            padding: 0;
            display: inline;
        }
    }
    &__title{
        font-size: 1.1rem;
        color: $color-gold;
        font-weight: 700;
        @include responsive(SP){
            display: inline-block;
            margin-top: 6.5rem;
            font-size: 1rem;
        }
    }
    &__name{
        font-size: 2.2rem;
        font-weight: 700;
        color: $color-black;
        @include responsive(SP){
           font-size: 1.6rem;
        }
    }
    &__desc{
        
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.6;
        @include responsive(SP){
            margin: 6.8rem 1.5rem 0;
            padding-bottom: .7rem;
            font-size: 1.2rem;
            border-bottom: .1rem solid #f4f4f4;
        }
        &-more{
            @include responsive(SP){
                display: none;
            }
        }
    }
}